@keyframes wind-hide {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-1vh);
        opacity: 0;
    }
}

@keyframes wind-show {
    0% {
        transform: translateY(1vh);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

body {
    font-size: calc(40vh*100/2400);
    line-height: 1.5;
    background-color: #f4f4f4;
    overflow-x: hidden;
    width: 100vw;
    -webkit-overflow-scrolling: touch
}

.main {
    position: relative;
    height: calc(1300vh*100/2400);
}

.night {
    background-image: linear-gradient(180deg, #313877, #44abec);
}

.day {
    background-image: linear-gradient(180deg, #50ade8, #7ae0fa);
}

.location-container {
    padding-top: calc(40vh*100/2400);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-icon {
    height: calc(60vh*100/2400);
    width: calc(33vw*100/1080);
    margin-left: calc(36vw*100/1080);
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-size: calc(42vh*100/2400) calc(42vh*100/2400);
}

.share-icon {
    right: 8px;
    margin-right: calc(36vw*100/1080);
    width: calc(54vh*100/2400);
    height: calc(54vh*100/2400);
    background-image: url(../images/share.svg);
    background-repeat: no-repeat;
    background-size: calc(42vh*100/2400) calc(42vh*100/2400);
}

.location-box {
    display: flex;
    align-items: center;
}

.location-icon {
    height: calc(42vh*100/2400);
    width: calc(36vw*100/1080);
    vertical-align: middle;
    margin-right: calc(10vw*100/1080);
    background-size: calc(42vh*100/2400) calc(42vh*100/2400);
    background-image: url(../images/location.svg);
    background-repeat: no-repeat;
}

.location {
    color: rgba(255, 255, 255, 0.9);
}

.ct-state-box {
    margin-top: calc(80vh*100/2400);
    position: relative;
    width: 100%;
}

.ct-state {
    background-color: #f0cc35;
    position: absolute;
    top: 0;
    left: calc(20vw*100/1080);
    padding: calc(30vh*100/2400) calc(36vw*100/1080);
    border-radius: 2vw;
    z-index: 2;
    color: #fff;
    font-size: calc(35vh*100/2400);
}

.tem-box {
    text-align: center;
    width: 100%;
    margin-top: calc(244vh*100/2400);
    font-size: calc(130vh*100/2400);
    color: #fff;
}

.tem-des {
    margin-top: calc(5vh*100/2400);
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: calc(50vh*100/2400);
}

.ct-wind-speed {
    margin-top: calc(25vh*100/2400);
    position: relative;
    height: 1vh;
    text-align: center;
}

.text {
    height: 1vh;
    line-height: 1vh;
    font-size: calc(35vh*100/2400);
    color: #fff;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    animation-fill-mode: forwards;
    animation-duration: .75s;
    animation-name: wind-hide;
}

.ct-wind-speed .show {
    animation-name: wind-show;
}

.tem-tips {
    color: #fff;
    padding: 0 calc(70vw*100/1080);
    margin-top: calc(90vh*100/2400);
    font-size: calc(36vh*100/2400);
    text-align: center;
}

.ct-landscape {
    position: absolute;
    bottom: 0;
    height: calc(1000vh*100/2400);
    width: 100%;
    z-index: 3;
}

.layer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100%;
    width: 100%;
}

.bg-day {
    background-image: url(../images/day/bg01.png);
}

.bg-night {
    background-image: url(../images/night/bg-01.png);

}

.layer1 {
    z-index: 3;
}

.layer2 {
    bottom: 0;
    z-index: 2;
}

.river-day {
    background-image: url(../images/bg02.png);
}

.river-night {
    background-image: url(../images/bg03.png);
}

.forest-day {
    background-image: url(../images/bg05.png)
}

.forest-night {
    background-image: url(../images/bg04.png)
}

#layer3 {
    z-index: 1;
}

#sec-tomorrow {
    display: flex;
    background-color: #fff;
    height: calc(285vh*100/2400);
    border-bottom: 0.2vw solid #e4e4e4;
    font-size: calc(37vh*100/2400);
}

.wea-item {
    flex: 1;
    padding: calc(66vh*100/2400) calc(55vw*100/1080);
    letter-spacing: 0.05vw;
}

.line {
    border-left: 0.3vw solid #f0f0f0;
    height: calc(137vh*100/2400);
    margin: auto 0;
}

.today-p1,
.today-p2,
.tomor-p1,
.tomor-p2 {
    display: flex;
    justify-content: space-between;
}

.today-p2,
.tomor-p2 {
    padding-top: 1.3vh;
    padding-right: 2vw;
    line-height: 100%;
}

.wea-icon {
    font-size: 5vw;
    color: #c9eaf3;
    margin-left: 10vw;
}


.container {
    margin-bottom: calc(37vh*100/2400);
    background-color: #fff;
}

#sec-hours {
    height: calc(350vh*100/2400);
    width: 100%;
    border-bottom: 0.2vw solid #e4e4e4;
    padding: calc(65vh*100/2400) 0 calc(70vh*100/2400) 0;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
}

.hours-weather {
    display: flex;
    text-align: center;
}


.h-time {
    color: #999;
    font-size: calc(35vh*100/2400);
}

.hours-weather .weatherFont {
    color: #c9eaf3;
    font-size: calc(50vh*100/2400);
}

.hours-weather p {
    margin-top: calc(10vh*100/2400);
}

.hours-weather .h-wea {
    font-size: calc(35vh*100/2400);
}

#sec-days {
    height: calc(1080vh*100/2400);
    position: relative;
    display: flex;
    overflow-x: scroll;
}

.days-weather {
    display: flex;
}

.h-item {
    width: 20vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: calc(55vw*100/1080);
    margin-right: calc(43vw*100/1080);
}

.up-part {
    margin-top: calc(70vh*100/2400);
}

.down-part {
    margin-bottom: calc(73vh*100/2400);
}

.d-item {
    width: 15vw;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: calc(32vw*100/1080);
    margin-right: calc(5vw*100/1080);
}

.d-item .day-time {
    color: #b2b2b2;
    font-size: calc(35vh*100/2400);
}

.d-item .day-time-detail {
    color: #b2b2b2;
    font-size: calc(35vh*100/2400);
}

.d-item .weatherFont {
    color: #c9eaf3;
    font-size: calc(60vh*100/2400)
}

.days-weather li:nth-of-type(1) {
    color: #b2b2b2;
}

.days-weather li:nth-of-type(1) .weatherFont {
    color: #b2b2b2;
    opacity: .5;
}

.night-wea-des,
.day-wea-des {
    margin: calc(25vh*100/2400) 0;
    font-size: calc(35vh*100/2400);
}

.day-wea-des,
.night-wea-wind,
.night-wea-hum {
    font-size: calc(35vh*100/2400);
}

.night-wea-wind,
.night-wea-hum {
    color: #b2b2b2;
}

#sec-reminder {
    height: calc(520vh*100/2400);
    border-top: 0.2vw solid #e4e4e4;
    border-bottom: 0.2vw solid #e4e4e4;
    display: flex;
    overflow-x: scroll;
    width: 200vw;
    margin-bottom: 0;
}

.banner {
    height: 100%;
    display: flex;
}

.list1,
.list2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.list1 li,
.list2 li {
    width: 25%;
    height: 50%;
    border: 0.2vw solid #eee;
    text-align: center;
    padding: 0 1vw;
}

.title {
    font-size: calc(31vh*100/2400);
    color: #999;
}

.content {
    height: calc(40vh*100/2400);
    font-size: calc(36vh*100/2400);
}

.icon {
    height: calc(55vh*100/2400);
    width: calc(60vh*100/2400);
    background-size: calc(60vh*100/2400);
    margin: calc(50vh*100/2400) auto calc(20vh*100/2400);
}

.icon-chuanyi {
    background-image: url(../images/chuanyi.svg);
}

.icon-yusan {
    background-image: url(../images/daisan.svg);
}

.icon-ganmao {
    background-image: url(../images/ganmao.svg);
}

.icon-xiche {
    background-image: url(../images/xiche.svg);
}

.icon-yundong {
    background-image: url(../images/yundong.svg);
}

.icon-fangshai {
    background-image: url(../images/fangshai.svg);
}

.icon-diaoyu {
    background-image: url(../images/diaoyu.svg);
}

.icon-lvyou {
    background-image: url(../images/lvyou.svg);
}

.icon-jiaotong {
    background-image: url(../images/jiaotong.svg);
}

.icon-wuran {
    background-image: url(../images/wuran.svg);
}

.icon-shushi {
    background-image: url(../images/shushi.svg);
}

.icon-liangshai {
    background-image: url(../images/liangshai.svg);
}

.icon-huazhuang {
    background-image: url(../images/huangzhuang.svg);
}

.icon-chenlian {
    background-image: url(../images/chenlian.svg);
}

.icon-guomin {
    background-image: url(../images/guomin.svg);
}

.icon-zhongshu {
    background-image: url(../images/zhongshu.svg);
}

footer {
    text-align: center;
    font-size: calc(33vh*100/2400);
    color: #999;
}

footer {
    margin-bottom: 3vh;
}

.me {
    margin-bottom: 1vh;
}

#search {
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: absolute;
    top: 0;
    transform: translateY(-100vh);
    transition: all 1s;
    overflow-y: scroll;
}

.ct-search {
    height: calc(128vh*100/2400);
    padding: calc(23vh*100/2400) 0;
    position: relative;
    border-bottom: 0.2vw solid #eee;
    display: flex;
}

.btn-cancel {
    font-size: calc(39vh*100/2400);
    color: #434343;
    width: calc(80vw*100/1080);
    line-height: calc(88vh*100/2400);
    text-align: center;
    margin-left: calc(20vw*100/1080);
    margin-right: calc(20vw*100/1080);
}

.input-keywords {
    margin-left: calc(40vw*100/1200);
    position: relative;
}

#i-location {
    width: 85vw;
    height: calc(86vh*100/2400);
    font-size: calc(40vh*100/2400);
    padding: calc(22vh*100/2400) 0 calc(22vh*100/2400) calc(107vw*100/1200);
    box-sizing: border-box;
    line-height: calc(88vh*100/2400);
    background: #f2f2f2;
    border-radius: 10vw;
    color: #434343;
    -webkit-appearance: none;
    border-width: 0;
}

.search-icon {
    position: absolute;
    height: calc(40vh*100/2400);
    width: calc(40vh*100/2400);
    top: calc(24vh*100/2400);
    left: calc(35vw*100/1080);
    background-size: calc(40vh*100/2400);
    background-image: url(../images/search.svg);
}

.ct-wrapper {
    padding: calc(63vh*100/2400) calc(42vw*100/1200);
}

.ct-title {
    color: #434343;
    margin: calc(27vh*100/2400) calc(20vh*100/2400);
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.city {
    box-sizing: border-box;
    background: #f2f2f2;
    border-radius: 4vw;
    padding: 0 calc(7vw*100/1080);
    width: calc(310vw*100/1080);
    height: calc(90vh*100/2400);
    line-height: calc(90vh*100/2400);
    margin-bottom: calc(36vh*100/2400);
    font-size: calc(39vh*100/2400);
    color: #434343;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: calc(20vw*100/1080);
}

.move-bar {
    text-align: center;
}

.move-bar span {
    display: inline-block;
    width: 5vw;
    height: .5vh;
    background: #e3e3e3;
    border-radius: 1vw;
    margin: 0 .5vw;
    transform: translateY(-1vh);
}

.move-bar .now {
    background-color: #cecece;
}

.result-city {
    padding: 0.5vh 0 0.5vh 5vw;
    border-bottom: 0.2vw solid #eee;
}